*{
    margin: 0;
    padding: 0;
    font-size: 13px;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-family:Arial, sans-serif;
}

#container{
    min-width: 700px;
}


#navbar{
    float: right;
     margin-top: 20px ;
    margin-right: 35px;
}

#navbar li a {
    text-decoration: none;
    color:  #272727;
}

.sign-in{
    width: 70px;
    height: 30px;
    background-color: blue;
    color: white;
    padding: 0px 12px;
    border: 1px solid #4285f4;
    border-radius: 5px;
    
}

#navbar li a:hover{
    text-decoration: underline;
    
}

#navbar li{
    display: inline-block;
    margin-left: 5px;
   
}

* li{
    list-style: none;
    text-decoration: none;
}
* a:hover{
    text-decoration: underline;
}
.clear{
    clear: both;
}

div .logo-div{
/*    margin-top: 90px;*/
}

#logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top:  100px;
    
}
#searchbar{
    position: relative;
}


.fas{
    z-index: 2;
}

.fa-search{
    position: absolute;
    left: 30vw;
    top: 13px;
    color: lightgrey;
}
.fa-microphone{
    position: absolute;
    top: 13px;
    right: 30vw;
    color: blue;
    font-size: 1.2em;
}

#input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 43vw;
    height: 40px;
    border: 0.5px #f2f2f2 solid;
    border-radius: 100px;
    margin-top: 10px;
    cursor: text;
    min-width: 10vw;
    padding-left: 35px;
}

#input:focus{
    border: none;
    border-radius: 100px;
    
}

#input:hover{
    box-shadow: 2px 2px   2px 2px #f2f2f2;
}



div.buttons{
    margin-top: 30px;
    position: static;
    margin-left: 40vw;
    margin-right: auto;
}

input#button1{
    width: 125px;
    height: 35px;
    background-color: #F2F2F2;
    color: #5F6368;
    border: 1px solid #f2f2f2;
    padding: 0px 16px;
    border-radius: 4px;
    user-select: none;
}

input#button2{
    margin-left: 10px;
    width: 125px;
    height: 35px;
    background-color: #F2F2F2;
    color: #5F6368;
    border: 1px solid #f2f2f2;
    padding: 0px 16px;
    border-radius: 4px;
}

div#translation{
    text-align: center;
    margin-top: 25px;
}

#mc2{
    width: 100vw;
    height: 105px;
}

footer .footer1{
    width: 100vw;
    height: 40px;
    color: #5F6368;
    background-color: #f2f2f2;
    border: 0.5px #5F6368 solid;
    padding-left: 27.0px;
    margin-left: 30px;
    
}

div .footer-left{
     width: 100vw;
    height: 40px;
    color: #5F6368;
    background-color: #f2f2f2;
border-top:  1px solid #e4e4e4;
    padding: 10px;
}

div .footer-left li{
    display: inline-block;
}


div .footer-left li a{
    color: #5F6368;
    padding-left: 27px;
}